<footer class="footer">
  <div class="footer__contenido contenedor">
    <div class="footer__marca">
      <img src="assets/logos/logo-blanco.png" alt="" width="29" height="34" />
      <div>
        <p class="footer__nombre">Pillo Nómadas</p>
        <p class="footer__derechos">Pillo Nómadas · 2026</p>
      </div>
    </div>

    <ul class="footer__enlaces">
      <li class="footer__enlace">Términos</li>
      <li class="footer__enlace">Privacidad</li>
      <li class="footer__enlace">Soporte</li>
    </ul>
  </div>
</footer>
